.main
    width: 100%
    height: 100vh

    display: flex
    flex-direction: column

.header
    grid-area: header

    .title
        font-size: 14px
        font-weight: 400

        display: block

.content
    flex: 1
    overflow-y: auto

    .ticket
        display: none

.actions
    padding-bottom: 16px

    display: grid
    grid-template-columns: 1fr 50px
    grid-template-rows: 1fr
    grid-template-areas: 'button1 button2'
    gap: 16px

    position: sticky
    bottom: 0

    .plus
        width: 100%
        height: 100%

        background-color: #295435
        color: #FEFEFE
        font-size: 16px

        display: flex
        justify-content: center
        align-items: center

        border: none
        border-radius: 4px
        outline: none

        transition: background-color .2s ease

        &:hover
            background-color: lighten(#295435, 4)
            cursor: pointer

        &:active
            background-color: #295435
            cursor: pointer


app-ticket-layout
    display: none
@media (min-width: 750px)
    .main
        height: calc(100% - 56px)
