<form [formGroup]="authForm" (submit)="submitForm()">

  <img src="assets/images/super-mami-color.png" alt="Logo super mami">
  
  <app-input
    formControlName="userControl"
    [content]="{
    label: 'Usuario',
    type: 'text',
    name: 'userControl'
}"
  ></app-input>

  <app-input
    formControlName="passControl"
    [content]="{
    label: 'Contraseña',
    type: 'password',
    name: 'passControl'
}"
  ></app-input>

  <app-button
    [content]="{
    type: 'sumbit',
    text: 'Iniciar sesión',
    isPrimary: true,
    isDisabled: authForm.invalid
  }"
  ></app-button>
</form>

<span>Desarrollado por Grupo Dinosaurio v2.2-beta</span>
